@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .rectangular-button {
        @apply bg-light-blue p-2 text-center px-4 text-lg w-full rounded-xl text-dark-bg
            hover:bg-hv-light-blue transition-all duration-300 ease-linear;
    }

    .ease {
        @apply transition-all duration-300 ease-linear;
    }

    .carousel {
        @apply relative w-full max-w-[500px] py-2 mb-10;
        perspective: 500px;
        transform-style: preserve-3d;
    }
    
    .card-container {
        @apply absolute w-full max-w-[500px] blur-[calc(var(--abs-offset))] transition-all duration-[0.3s] ease-[ease-out];
        transform: 
        rotateY(calc(var(--offset) * 15deg))
        scaleY(calc(1 + var(--abs-offset) * -0.05))
        scaleX(calc(1 + var(--abs-offset) * 0.05))
        translateZ(calc(var(--abs-offset) * -20rem))
        translateY(calc(var(--abs-offset) * 2rem))
        translateX(calc(var(--direction) * -10rem));
    }
    .card {
        @apply w-[500px] h-[295] bg-[hsl(280deg,40%,calc(100%-var(--abs-offset)*50%))] transition-all duration-[0.3s] ease-[ease-out];
    }

    .nav.left {
        transform: translateX(-100%) translatey(-50%);
      }
    .nav.right {
        @apply right-0;
        transform: translateX(100%) translatey(-50%);
    }

    .subheader-text {
        @apply text-base md:text-lg font-medium;
    }

    .section-header-text {
        @apply text-base sm:text-xl font-semibold;
    }

    .info-text {
        @apply text-light-text text-xs;
    }

    .subtext {
        @apply text-light-text text-xs sm:text-sm;
    }

    .important-small-text {
        @apply text-text-dark text-xs sm:text-sm font-medium
    }

    .paragraph-text {
        @apply text-sm sm:text-base
    }

    .input-area {
        @apply  bg-theme-base p-3 sm:p-4 rounded-lg border border-light-stroke
    }

    .container-center-card {
        @apply 
        w-full max-w-[1200px] 
        px-8 max-[900px]:px-4 max-[600px]:px-2 max-[400px]:px-0.5
        py-8 max-[400px]:py-4
        flex-col justify-start items-center inline-flex
    }

    .large-white-card {
        @apply w-full 
        px-4 min-[500px]:px-6 py-0.5 min-[500px]:py-2 
        bg-theme-base rounded-[15px] flex-col justify-start items-start inline-flex
    }
    
    .author-name {
        @apply text-sm sm:text-base font-medium;
    }

    .author-username {
        @apply text-xs sm:text-sm text-light-text;
    }

    .title-text {
        @apply text-lg sm:text-xl md:text-2xl font-medium;
    }

    .primary-button-style {
        @apply bg-brand-tq text-white hover:bg-brand-tq-hover;
    }

    .gradient-button-style {
        @apply bg-gradient-to-r from-[#3876BF] via-sky-500 to-brand-tq text-white hover:from-cyan-700 hover:via-sky-600 hover:to-cyan-600;
    }

    .dark-button-style {
        @apply bg-text-dark text-theme-base hover:bg-gray-700;
    }

    .secondary-button-style {
        @apply bg-brand-gray text-theme-base hover:bg-gray-400;
    }

    .inverse-button-style {
        @apply bg-brand-tq bg-opacity-20 text-brand-tq hover:bg-opacity-30;
    }

    .small-button {
        @apply h-7 px-2 py-1 sm:h-8 sm:px-2.5 sm:py-2 gap-1 font-light text-xs;
    }


}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

ul {
    list-style: disc;
    margin-left: 1.5rem;
}

li {
    padding-left: 0.75rem; 
}

.ProseMirror {
    @apply w-full min-h-[250px] leading-8
}

.ProseMirror-focused {
    @apply focus:outline-none
}

.editorImage {
    @apply w-full p-8
}

strong {
    font-weight: 500;
}